<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication.Properties.Settings.connString"
            connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=BudgetManager;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=FalsData Source=(localdb)\ProjectsV12;Initial Catalog=BudgetManager;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="WindowsFormsApplication.Properties.Settings.BudgetManagerConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=BudgetManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>